<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="/" class=""><img src="{% asset 'ng-logo.svg' @path %}" alt="niranjan gupta" class="logo"></a>
    <!-- hamburger menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#HeaderMenu" aria-controls="HeaderMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- menu items -->
    <div class="collapse navbar-collapse" id="HeaderMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://dribbble.com/niran_jan" target="_blank">Dribbble</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/1Tdes1nEi_3ktiIYXuW13wT9Pqc2YzIExaYhAD6LU_e4/edit?usp=sharing">Resumé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-outline" href="mailto:niranjangupta.jun3@gmail.com">Email me</a>
      </li>
    </ul>
  </div>


  </nav>
  <!-- <div class="row">
    <div class="col-8">
      <a href="/" class=""><img src="{% asset 'ng-logo.svg' @path %}" alt="niranjan gupta" class="logo"></a>
    </div>
    <div class="col-4">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="https://dribbble.com/niran_jan" target="_blank">Dribbble</a></li>
        <li class="nav-item"><a class="nav-link" href="https://docs.google.com/document/d/1Tdes1nEi_3ktiIYXuW13wT9Pqc2YzIExaYhAD6LU_e4/edit?usp=sharing">Resumé</a></li>
        <li class="nav-item"><a class="nav-link btn-outline" href="mailto:niranjangupta.jun3@gmail.com">Email me</a></li>
      </ul>
    </div>
  </div> -->
</div>